@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    margin : 0;
    padding: 0;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url("1857116.jpg");
    background-size:cover;
}

#f {
    margin-top:0px;
    margin-left: 100px;
    height: 200px;
    position: absolute;
    padding: 60px 40px 20px 40px;
    top: 220px;
    overflow: hidden;
    width: 500px;
    height: 250px;
}

form span {
    position: absolute;
    display: block;
}
form span[class = 'y']:nth-child(1){
    top:0;
    left:0;
    width:100%;
    height:2px; 
    background: linear-gradient(90deg, transparent, red);
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{left:-100%}
    25%{left:25%}
    50%{left:50%}
    100%{left:100%}
}

form span[class = 'y']:nth-child(2){
    top:-100%;
    right:0;
    height:100%;
    width:2px; 
    background: linear-gradient(180deg, transparent, red);
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate2{    
    0%{top:-100%}
    25%{top:25%}
    50%{top:50%}
    100%{top:100%}
}

form span[class = 'y']:nth-child(3){
    bottom:0;
    right:0;
    width:100%;
    height:2px; 
    background: linear-gradient(270deg, transparent, red);
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate3{
    0%{right:-100%}
    25%{right:25%}
    50%{right:50%}
    100%{right:100%}
}

form span[class = 'y']:nth-child(4){
    left:0;
    bottom:-100%;
    height:100%;
    width:2px; 
    background: linear-gradient(360deg, transparent, red);
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes animate4{
    0%{bottom:-100%}
    25%{bottom:25%}
    50%{bottom:50%}
    100%{bottom:100%}
}


.l {
    color: #fff;
    font-size: 6em;
    font-family: 'Cinzel', serif;
    text-shadow: 0 0 20px green;
    margin-left: 150px;
    margin-top: 60px;
    top:30px;
    left: 100px;
}
.l:after {
    content: attr(data-text);
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
    top:30px;
    left:0;
    z-index: -1;
    color: green;
    filter: blur(15px);
}
.l:before {
    content: '';
    position: absolute;
    margin-left: 150px;
    margin-top: 60px;
    top: 30px;
    left: 0;
    width: 20%;
    height: 10%;
    background: green;
    z-index: -2;
    opacity: 0.5;
    filter: blur(40px);
}

#lb {
    background-color: rgba(0,0,0,0.1);
    border: 1px groove #60C5F1;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    color: #5EC4D5;
    margin-top: 48px;
    font-size: 20px;
    margin-left: 130px;
    font-weight:bolder;
    /*-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);*/
}
#lb:hover {
    background: #E3EC22;
    border-radius: 5px;
    border:none;
    color: black;
    font-weight:bolder;
    cursor: pointer;
    box-shadow: 0 0 10px #E3EC22 , 0 0 25px #E3EC22 , 0 0 40px #E3EC22  ;
     
}

#user,#pwd {
   margin-left: 35px;
   border:none;
   width: 400px;
   height:30px;
   border-bottom: 2px groove green;
   outline: none;
   color: aliceblue;
   font-size: larger;
}

#user,#pwd {
    background:transparent;
}

.input2 {
    margin-top: 70px;
}


.label-name1 {
    color: #F2A100 ;
    text-shadow: 0 0 15px red;
    position: absolute;
    left:75px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    
    pointer-events: none;
    transition: transform 0.6s ease;
}

.label-name2 {
    color: #F2A100 ;
    text-shadow: 0 0 15px red;
    
    position: absolute;
    left:75px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    
    pointer-events: none;
    transition: transform 0.6s;
}

#here {
    position: fixed;
    top:10px;
    left: 950px;
    color: #B90000;
    text-shadow: 0 0 20px green;
}

.glow{
    position: fixed;
    left: 966px;
    width: 200px;
    height: 500px;
}
.pop1 {
    position: fixed;
    border: 2px solid #5EC4D5;
    top: -10px;
    left: 950px;
    width: 255px;
    bottom:900px;
    transition: bottom 0.4s ease, top 0.3s ease;
}

.eye1, .eye2 {color:red;font-size: xx-small;display: none;}

.eye1 {
    position: absolute;
    top:22px;
    left:80px;
    text-shadow: 0 0 10px red, 0 0 10px red;
    transition: display 1s ease-in;
}
.eye2 {
    position: absolute;
    top:16px;
    left:100px;
    transition: display 1s ease-out;
    text-shadow: 0 0 10px red, 0 0 10px red;
}



/*.input1,.input2 {
    /*display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: large;
    width: 50%;
    position: relative;
    color:red;
    height: 50px;
    
}
.input1 #user {
    position: absolute;
    width: 100%;
    height: 100%;
    color: blue;
    padding-top: 20px;
    border: none;
}
.input1 label {
    position: absolute;
    bottom:-12px;
    left: 0%;
    width: 100%;
    height: 100%;

    pointer-events: none;
    border-bottom: 1px solid green;
}

.input1 label::after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid yellow;
    transform: translateX(-100%);
}

.content-name {
    position: absolute;
    bottom:5px;
    left: 0px;
    transition: all 0.3s ease;
}

.input1 input:focus + .label-name .content-name, .input1 input:valid + .label-name .content-name {
    transform: translateY(-150%);
    color: yellow;
}

*/